<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Schedulify | Complete User Profile </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets//favicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/user_profile_form_style.css" rel="stylesheet">
</head>

<body>
    <div class="container d-flex align-items-center min-vh-100">
        <div class="row g-0 justify-content-center">
           <!-- TITLE -->
           <div class="col-lg-4 offset-lg-1 mx-0 px-0">
            <div id="title-container">
                <div>
                <img class="covid-image" src="assets/img/user_profile_img.svg">
               </div>
               <div>
                <h2>Schedulify</h2>
                <h3>Complete Your Profile</h3>
                <p>Complete The User Profile To Continue To The Application And That Will Help You Stand Out Of The Crowd.</p>
               </div>
            </div>
         </div>
           <!-- FORMS -->
           <div class="col-lg-7 mx-0 px-0">
            <div class="progress">
               <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%"></div>
            </div>
            <div id="qbox-container">
               <form class="needs-validation" id="form-wrapper" method="post" name="user_profile_form" novalidate="">
                  <div id="steps-container">
                     <div class="step">
                        <h4>Provide us with your personal information:</h4>
                        <div class="mt-1">
                           <label class="form-label">Your Full Name:</label> 
                           <input class="form-control" id="full_name" name="full_name" type="text">
                        </div>
                        <div class="mt-2">
                           <label class="form-label">Your Address:</label> 
                           <input class="form-control" id="address" name="address" type="text">
                        </div>
                        <div class="mt-2">
                           <label class="form-label">Your Email:</label> 
                           <input class="form-control" id="email" name="email" type="email">
                        </div>
                        <div class="mt-2">
                           <label class="form-label">Your Mobile Number:</label> 
                           <input class="form-control" id="phone" name="phone" type="text">
                        </div>
                        <div class="row mt-2">
                           <div class="">
                              <label class="form-label">Your Age:</label>
                              <div class="input-container">
                                 <input class="form-control" id="age" name="age" type="text">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="step">
                        <h4>Enter your Academic Details: </h4>
                        <div class="mt-1">
                           <label class="form-label">Your Latest Qualification: </label> 
                           <input class="form-control" id="qualification" name="qualification" type="text">
                        </div>
                        <div class="mt-2">
                           <label class="form-label">Institute Name: </label> 
                           <input class="form-control" id="address" name="address" type="text">
                        </div>
                        <div class="mt-2">
                           <label class="form-label"> Duration: </label> 
                           <input class="form-control" id="duration" name="duration" type="text">
                        </div>
                        <div class="mt-2">
                           <label class="form-label"> CGPA:</label> 
                           <input class="form-control" id="cgpa" name="cgpa" type="text">
                        </div>
                     </div>
                     <div class="step">
                        <h4>Enter Your Work Experience, (if any)</h4>
                        <div class="mt-1">
                            <label class="form-label">Company Name: </label> 
                            <input class="form-control" id="company_name" name="company_name" type="text">
                         </div>
                         <div class="mt-2">
                            <label class="form-label">Your Position: </label> 
                            <input class="form-control" id="position" name="position" type="text">
                         </div>
                         <div class="mt-2">
                            <label class="form-label"> Duration: </label> 
                            <input class="form-control" id="duration_exp" name="duration_exp" type="text">
                         </div>
                         <div class="mt-2">
                            <label class="form-label"> Work Description:</label> 
                            <input class="form-control" id="work" name="work" type="text">
                         </div>
                     </div>
                     <div class="step">
                        <h4>Enter Your Top 5 Skills</h4>
                        <div class="mt-1">
                           <input class="form-control" id="skill1" name="skill1" type="text">
                        </div>
                        <div class="mt-2">
                           <input class="form-control" id="skill2" name="skill2" type="text">
                        </div>
                        <div class="mt-2">
                           <input class="form-control" id="skill3" name="skill3" type="email">
                        </div>
                        <div class="mt-2">
                           <input class="form-control" id="skill4" name="skill4" type="text">
                        </div>
                        <div class="row mt-2">
                            <input class="form-control" id="skill5" name="skill5" type="text">
                        </div>
                     </div>
                     <div class="step">
                        <div class="mt-1">
                           <div class="closing-text text-center">
                              <h4>That's about it!</h4>
                              <p>Click on the submit button to continue.</p>
                           </div>
                        </div>
                     </div>
                     <div id="success">
                        <div class="mt-5">
                           <h4>Success! We'll get back to you ASAP!</h4>
                           <p>Meanwhile, clean your hands often, use soap and water, or an alcohol-based hand rub, maintain a safe distance from anyone who is coughing or sneezing and always wear a mask when physical distancing is not possible.</p>
                           <a class="back-link" href="">Go back from the beginning ➜</a>
                        </div>
                     </div>
                  </div>
                  <div id="q-box__buttons">
                     <button id="prev-btn" type="button">Previous</button> 
                     <button id="next-btn" type="button">Next</button> 
                     <button id="submit-btn" type="submit">Submit</button>
                  </div>
               </form>
            </div>
         </div>
        </div>
     </div>

     <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/user_profile_form.js') }}"></script>
</body>
</html>